.env
.env.*

**/node_modules

dist
coverage

.git
.gitignore
.github


**/*.test.ts
vitest.config.ts
vitest.setup.ts
vitest.globalSetup.ts

.claude
.prettierrc.json
LEARNING.MD
CLAUDE.md
.prettierignore
Dockerfile
.dockerignore
docker-compose.yml

drizzle.config.ts

*.log
Thumbs.db
.DS_Store